@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: Circe;
  src: url('assets/fonts/Circe-Rounded.ttf');
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #000;
  font-family: Circe, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-radius: 10px;
}

.waiting {
  margin-top: 300px;
  text-align: center;
}
/* Expectation */

.hello {
  text-align: center;
  padding-top: 30vh;
}

.welcome_page a {
  font-size: 50px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.mirror-btn {
  position: absolute;
  left: -100px;
}

/* Header */
header {
  margin: 10px;
}

.header-icons {
  display: flex;
}

.header-block {
  filter: brightness(0) invert(1);
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 120px;
}

.header-block h3 {
  padding-left: 20px;
  font-size: 28px;
}

header a {
  display: flex;
  align-items: center;
}

/* HomePage */

.homePage {
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Carousel */
.picture-1 {
  width: 15vw;
  height: auto;
}

.small-picture {
  margin-left: 1vw;
  margin-top: 1vh;
  width: 3vw;
  height: auto;
}

.carousel {
  width: 50%;
}

.carousel img {
  border-radius: 20px;
}

/* Info */

.info {
  width: 50%;
  text-align: center;
}

/* Choose */

.choose {
  width: 50%;
}

.choose-list {
  padding-top: 0;
  display: flex;
}

.choose-list li {
  font-size: 20px;
}

.choose-list li button {
  outline: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #000;
  color: #fff;
}

.onBorderBottom {
  border-bottom: 3px solid yellowgreen;
}

.size-button:active {
  /*border-bottom: 3px solid greenyellow;*/
  font-weight: bold;
}
.choose-list li button:focus {
  /*border-bottom: 3px solid greenyellow;*/
  font-weight: bold;
}

.color-button {
  min-height: 40px;
  min-width: 40px;
  border-radius: 10px;
  border: 1px solid white;
}

/* Buttons */
.buttons {
  width: 50%;
  text-align: center;
}

.buttons div {
  margin: 3rem;
  height: auto;
}

.buttons div button {
  width: 15rem;
  outline: 0;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
}

.buttons div button:active {
  color: yellowgreen;
  border-color: yellowgreen;
}

.list {
  height: 27vh;
  width: 40vw;
}

.list ul {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  height: 100%;
}

.list ul li {
  height: 150px;
  min-width: 100px;
  margin-left: 20px;
  list-style: none;
  text-align: center;
}

.list ul li img {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  hyphens: auto;
}

.list ul li p {
  font-size: 15px;
  width: 100px;
  overflow: auto;
  white-space: pre-line;
}

/* Basket */
.basketList {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  overflow-x: scroll;
}

.basketList li {
  margin: auto;
  margin-left: 40px;
  flex: 0 0 auto;
}

.basketList li img {
  width: 15rem;
  height: auto;
}

.basket-description *{
  margin: 0 0;
}

p[class="price"] {
  color: yellowgreen;
}

.basketFooter {
  display: flex;
  justify-content: center;
}

.basketFooter button {
  margin: 1rem 2rem;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
  color: #fff;
  padding: 2rem;
}

.remove {
  display: flex;
  width: inherit;
  height: 3.5rem;
}

.remove img {
  padding: 10px;
  filter: brightness(0) invert(1);
  width: 50px;
  height: inherit;
  border: 1px solid;
}

.alertContainer{
  border: 1px solid rgba(154, 205, 50, 0.7);
  background: #000;
}

.alertTitle {
  color: #fff;
}