@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: SF;
  src: url('./assets/fonts/SF-Pro-text-Ultralight.woff');
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #000;
  font-family: SF, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.waiting {
  margin-top: 300px;
  text-align: center;
}
/* Expectation */

.hello {
  text-align: center;
  padding-top: 30vh;
}

.welcome_page a {
  font-size: 50px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.mirror-btn {
  margin: 20px;
}

/* Expectation */

/* Header */
header {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.header-block {
  filter: brightness(0) invert(1);
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}

.header-block h3 {
  padding-left: 20px;
}
/* Header */

.card img {
  height: 480px;
  width: 380px;
}

select {
  background-color: #000;
  border: none;
  outline: none;
}

select:last-of-type {
  border-bottom: none;
}

select option {
  padding: 5px;
  font-size: 30px;
  color: #fff;
  border-bottom: 1px solid grey;
}

#list {
  width: 50%;
}

#list ul {
  display: flex;
  overflow-x: scroll;
  overflow-y: auto;
  height: 100%;
}

#list ul li {
  height: 150px;
  min-width: 100px;
  margin-left: 20px;
  list-style: none;
  text-align: center;
}

#list ul li img {
  height: 150px;
  width: 100px;
  border-radius: 10px;
  hyphens: auto;
}

#list ul li p {
  font-size: 15px;
  width: 100px;
  overflow: auto;
  white-space: pre-line;
}

.basket ul {
  overflow-y: auto;
  width: 80%;
}
