.third_layer {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr;
}

.filter {
    border: 1px solid greenyellow;
    width: auto;
    text-align: center;
}

.filter__title {
    text-align: center;
    font-size: 2rem;
}

.filter__brands {

}

.filter__brands_title {

}

.filter__brands_list li {
    color: white;
}

.filter__button {
    margin-top: 1rem;
    color: white;
    outline: none; /* Для синий ободки */
    border: 1px solid greenyellow;
    border-radius: 5px;
    background: transparent;
    width: 70%;
    text-align: center;
    padding: 10px;
}

.filter__button:active {
    border: 1px solid yellowgreen;
    color: yellowgreen;
}

.things_list {
    display: flex;
    padding-inline-start: 0;
    overflow-x: scroll;
}

.things_list__item {
    list-style: none;
    margin: 0 10px;
}

.things_list__item:hover {
    color: greenyellow;
}

.things_list__item_image_container {
    width: 300px;
    height: 400px;
    line-height: 400px;
    border-radius: 10px;
    vertical-align: center;
    text-align: center;
    background-color: white;
}

.things_list__item_image {
    height: inherit;
    object-fit: contain;
    vertical-align: middle;
}

.things_list__item_title {
    font-size: 1.5rem;
}
