@font-face{
  font-family: SF;
  src: url('./assets/fonts/SF-Pro-Text-Ultralight.otf');
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SF, serif;
  color: #fff;
  background-color: #000;
}

a{
  color: #fff;
  text-decoration: none;
}

#root{
  height: 100%;
}


/* Welcome Page */
#welcome_page{
  margin-top: 40vh;
  display: block;
  text-align: center;
}

#welcome_page a {
  margin: auto;
  font-size: 50px;
  padding: 30px;
}

#welcome_page a:focus {
  color: #37a6de;
}

/* Header */

#main{
  height: 100%;
}

header{
  display: flex;
  justify-content: space-evenly;
}

header a{
  font-size: 30px;
  padding: 10px;
}

header a:focus{
  color: #37a6de;
}

/*main*/

#main section {
  height: 540px;
}

#recommendation ul li{
  list-style: none;
}

#recommendation ul li img{
  width: 100px;
  height: 130px;
}

#history{
  width: 90%;
  margin-left: 40px;
}

#history ul{
  overflow-x: auto;
  white-space:nowrap;
}

#history ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
}

#history ul li img {
  height: 150px;
  width: 100px;
}

/* Basket */

#basket ul {
  display: flex;
}

#basket ul li {
  list-style: none;
  margin-left: 30px;
  text-align: center;
}

#basket ul li img {
  height: 150px;
  width: 100px;
}

/* Barcode */
#bar_code{
  /* transform: scale(0); */
}
